Finance
html
IT집중교육*
naver
rss
test*
textmining
database*
ngrok*
pitchfork*
spark*

echo "source .bashrc" > .profile
echo "export SPARK_HOME=/opt/spark" >> .bashrc
echo "export PATH=$PATH:$SPARK_HOME/bin:$SPARK_HOME/sbin" >> .bashrc
echo "export PYSPARK_PYTHON=/usr/bin/python3" >> .bashrc