
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
</head>
<body>
    <h1> Book Introduction </h1>
    <a href="http://{{host}}/nudge"> demian(데미안) <a> <br>
    <a href="http://{{host}}/factfull"> factfullness(팩트풀리스) <a> <br>
    <a href="http://{{host}}/gunsgermssteel"> guns, germ, steel(총,균,쇠) <a> <br>
    <a href="http://{{host}}/kluge"> kluge(클루지) <a> <br>
    <a href="http://{{host}}/nudge"> nudge(넛지) <a> <br>
</body>
</html>
